@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --solace-primary: #265b4e; --solace-secondary: #d7a13b; }
html, body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
}
html, body { height: 100%; overflow: hidden; }


